<div class="container center_div">
  <form action='' role="search" class="navbar-form navbar-center">
    <div class="form-group">
      <input type='search' class="form-control" name='search' placeholder='@username'>
    </div>
    <input type='submit' value='Search' class="btn btn-default">
  </form>
</div>
<ul class="tabs-list">
<% if params[:search] %>
  <li class="list-group-item justify-content-between"><%= link_to 'Show all tabs', @business %></li>
<% end %>
<% if params[:search] && @tabs.empty? %>
  <li class="list-group-item justify-content-between">No open tabs under <%= params[:search] %></li>
<% else %>
  <%= render @tabs %>
<% end %>
</ul>