<% if @business %>
<p><%= link_to("@#{tab.customer.username}", tab) %>....$<%= price_in_dollars(tab.total_price) %></p>
<% else %>
<p><%= link_to(tab.business.dba, tab) %>....$<%= price_in_dollars(tab.total_price) %></p>
<% end %>
