<% if @business %>
<li class="list-group-item justify-content-between"><%= link_to("@#{tab.customer.username}", tab) %><span class="label label-danger">$<%= price_in_dollars(tab.total_price) %></span></li>
<% else %>
<li class="list-group-item justify-content-between"><%= link_to(tab.business.dba, tab) %> <span class="badge">$<%= price_in_dollars(tab.total_price) %></span></li>
<% end %>
