<h2>Checkout from <%= @tab.business.username %></h2>

<table>
  <tbody>
    <tr>
      <td>Subtotal</td>
      <td><%= @tab.total_price %></td>
    </tr>

    <tr>
      <th>Total</th>
      <th id="total-price-checkout"><%= @tab.total_price %></th>
    </tr>

  </tbody>
</table>

<h3>Choose your tip:</h3>
<form>
  <input class="checkout-tip-button" type="radio" name="tip" value="10"> 10%
  <input class="checkout-tip-button" type="radio" name="tip" value="15"> 15%
  <input class="checkout-tip-button" type="radio" name="tip" value="20"> 20%<br>
  <input class="checkout-tip-button" type="submit" value="Tab Out">
</form>

<p> * this is where Braintree dropin will go* </p>
<div id="dropin-container"></div>

<script src="https://js.braintreegateway.com/web/dropin/1.4.0/js/dropin.min.js"></script>
<script>
  var button = document.querySelector("input[type='submit']");
  var form = document.querySelector('form');

  console.log(button)

  braintree.dropin.create({
    authorization: '<%= @client_token %>',
    container: '#dropin-container'
  }, function (createErr, instance) {
    button.addEventListener('click', function (event) {
      event.preventDefault();
      instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
        var nonce = form.querySelector('input[name="transaction[nonce]"]')
        form.querySelector('input[name="transaction[nonce]"]').value = payload.nonce;
        form.submit();
      });
    });
  });
</script>
