<%= link_to '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'.html_safe, :back, class: 'navigation' %>

<h2>History</h2>
<h4 class="settings-username">@<%= current_user.username %></h4>
<hr>
<ul class="list-group">
  <%= render @tabs %>
</ul>
