
<%= link_to '<i class="fa fa-angle-double-left" aria-hidden="true"></i>'.html_safe, root_path, class: 'navigation' %>

<h2>History</h2>
<h4 class="settings-username">@<%= current_user.username %></h4>
<hr>
<ul class="list-group">
  <% if !@tabs.empty? %>
    <%= render @tabs %>
  <% else %>
    <li id="no-items-error" class="btn btn-default">You have no tabs in your history.</li>
  <% end %>
</ul>
