  /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

  body {
    min-height: 97vh;
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-bottom: 5%;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #404040;
    /*font-family: 'Sanchez', sans-serif;*/
    /*font-weight: 600;*/
  }
  /* Nav Bar */

  .navbar, .navbar-default {
    border: 1px #292B2C solid;
    border-top: 14px #292B2C solid;
    position: fixed;
    -webkit-backface-visibility: hidden;
    z-index: 1000;
    text-align: center;
  }

  .navbar-default .navbar-collapse {
    border: 1px #292B2C solid;
  }

  .navbar-fill {
    background-color: #292B2C;
    padding-right: 0px
  }

  .navbar {
    border-radius: 0;
    white-space: nowrap;
  }

  .navbar-default .brand, .navbar-default .brand:hover, .nav-links:hover {
    color: #fff;
    text-shadow: none;
  }

  .navbar-header {
    float: left;
    text-align: center;
    width: 100%;
    padding-right: 0px
  }

  .brand {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 180%;
    font-size: 1.8em;
    font-weight: 900;
    float: none;
  }

  .nav-open {
    padding: 0 10px;
    color: #999999;
    float: left;
  }

  .nav-close {
    font-size: 25px !important;
    padding: 18px 8px 8px 18px !important;
  }

  .nav-form {
    height: 30px;
    display: inline;
    margin-right: 1px;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #292B2C;
    overflow-x: hidden;
    transition: 0.3s;
    opacity: 0.98;
  }

  .sidenav a, .sidenav p {
    padding: 8px 8px 8px 18px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover, .offcanvas a:focus {
    color: lightgray;
  }

  .content {
    padding-top: 70px;
  }

  .tabs-list {
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
  }

  .center_div {
    margin: 0 auto;
  }

  /* Forms */

  .btn, .btn-primary {
    border: none;
  }
  /* Braintree Drop-In*/

  .braintree-show-methods [data-braintree-id=methods-label] {
    visibility: hidden;
  }

  .braintree-method__check-container:before {
    background: none;
  }

  .row-darker {
    font-weight: 900;
    background-color: #eaeaea !important;
  }

  .full-width {
    width: 100%;
  }

  #bar-lookup {
    margin-bottom: 10px;
    font-size: 1.5em !important;
  }

  #customer-lookup {
    vertical-align: middle;
    margin-bottom: 20px;
  }

  p.center-div {
    text-align:center;
    text-decoration: underline;
  }

  p.tab-timestamp {
    margin-left: 5px;
    opacity: 0.5;
  }

  .open-tab {
    background-color: #00BFFF;
  }

  .faded {
    opacity: 0.5;
  }

  .settings-username {
    opacity: 0.5;
  }

  .tab-title {
    font-size: 1.3em;
    color: #404040;
  }

  li.list-group-item {
    margin-top: -1px;
  }

  li.list-group-item:hover {
    background-color: #F0F0F0;
  }

  #new_item {
    margin-bottom: 15px;
    display: inline-block;
  }

  .margin-top {
    margin-top: 10px;
  }

  .delete-item {
    text-decoration: none;
    background-color: #F08080;
    border: none;
    color: white;
    padding: 4px 51px;
    border-radius: 4px;
  }

 .delete-tab {
    text-decoration: none;
    background-color: #F08080;
    border: none;
    color: white;
    padding: 4px 39px;
    width: 100%;
    height: 60px;
    font-size: 1.4em;
    line-height: 52px;
  }

  .submit-new-drink {
    margin: 10px 0px;
  }

  span.badge {
    font-size: 1em;
  }

  .radio-buttons-checkout {
    padding: 0px 10px;
  }

  .btn-primary {
    height: 60px;
    border: none;
    border-radius: 4px;
    font-size: 1.4em;
    background-color: #00BFFF;
  }

  .btn-success {
    margin: 10px 0px;
    border: none;
    border-radius: 4px;
    font-size: 1.1em;
    padding: 3% 42%;
    background-color: #green;
  }

  .btn-nav {
    font-size: 1.4em;
    padding: 6px;
    color: white;
    width: 30px;
    float: right;
    height: 30px;
    border: none;
    background-color: #00BFFF;
    margin-top: 6px
  }

  .btn-inactive, .btn-disabled {
    height: 60px;
    border: none;
    border-radius: 4px;
    font-size: 1.4em;
    background-color: lightgray;
  }

  h1.business-title {
    padding-top: 23px;
    margin: 3px;
  }

  div.fix-width {
    max-width: 400px;
    margin: auto;
  }

  @media only screen and (max-width: 767px) {
    /* For mobile phones: */
    div.fix-width {
      max-width: none;
    }
  }

  #no-items-error {
    margin-bottom: 10px;
    font-size: 1.2em;
    padding: 5% 5%;
    color: gray;
    width: 100%;
  }

  select.limit-dropdown {
    margin-bottom: 20px;
  }

  li.limit-tabs {
    padding: 0px;
  }

  label.limit-label {
    margin-top: 20px;
  }

  .checkout-btn {
    margin: 0px 0px;
    padding: 4px 39px;
    border-radius: 4px;
  }

  .tab-content {
    padding: 0px 10px;
    padding-bottom: 3%;
    background-color: white;
    border-color: #dddddd;
    border: 1px solid #dddddd;
    border-top: none;
  }

  .navigation {
    font-size: 30px;
    color: #009ed3;
    font-size: 30px;
  }

  a {
    color: #009ed3;
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
  }

  .spinner {
    width: 20px;
    height: 20px;
    background-color: #00BFFF;
    position: fixed;
    border-radius: 50%;
    top: 35%;
    left: 50%;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }

  @-webkit-keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px)
    }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  /*Loading overlay*/
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.4;
    z-index: 1001;
  }

  .nav-tabs>li>a {
    margin-right: 0px;
  }


  .tab-list-item:hover {
    text-decoration: none;
  }

  .tab-time-stamp {
    color: black;
  }

  input.search-tabs-button {
    padding: 7px;
  }

  /*Navbar fadeout overlay*/
  #overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 999;
  }

  #tab-table {
    max-width: 700px;
    table-layout:fixed;
    margin: auto;
    float: right;
  }

  p.nav-username {
    color: lightgray;
    font-size: 1.7em;
  }

  .nav-hr-sm {
    margin: auto;
    border-top: 1px solid #383636;
    width: 25%;
  }

  .nav-hr-lg {
    margin: auto;
    border-top: 1px solid #383636;
    width: 50%;
  }

  hr.hr-display {
    margin: 10px 0px;
    padding: 10px 0px;
  }
  .fa-glass {
    float: left
  }

  hr.bad-hr {
    clear: both;
    padding-top: 20px;
    border-bottom: 1px solid #eee;
  }

